# (kosis) GRDP(시/군/구) - 지역내총생산
https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1C65_03E&conn_path=I2

In [6]:
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import json
import folium
warnings.filterwarnings("ignore")
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

In [7]:
GRDP = pd.read_csv("../../Data/sanghyuklee/GRDP_시_군_구_2010-2019(단위백만원).csv",encoding='euc-kr')
GRDP # GRDP 단위:백만원

       시점 행정구역별(1)      당해년가격
0    2010    서울특별시  313281033
1    2010    광주광역시   27882311
2    2010      경기도  278532130
3    2010      강원도   31728914
4    2010     충청북도   40324269
..    ...      ...        ...
115  2019     전라북도   51997535
116  2019     전라남도   76948280
117  2019     경상북도  106805459
118  2019     경상남도  114020931
119  2019  제주특별자치도   20308737

[120 rows x 3 columns]

In [8]:
GRDP.shape

(120, 3)

In [9]:
GRDP.당해년가격 * 1000000

0      313281033000000
1       27882311000000
2      278532130000000
3       31728914000000
4       40324269000000
            ...
115     51997535000000
116     76948280000000
117    106805459000000
118    114020931000000
119     20308737000000
Name: 당해년가격, Length: 120, dtype: int64

In [10]:
GRDP.columns = ['시점','시도별','GRDP']

In [11]:
GRDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      120 non-null    int64
 1   시도별     120 non-null    object
 2   GRDP    120 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.9+ KB

In [12]:
GRDP.시도별.unique()

array(['서울특별시', '광주광역시', '경기도', '강원도', '충청북도', '전라북도', '전라남도', '제주특별자치도',
       '부산광역시', '대구광역시', '인천광역시', '대전광역시', '울산광역시', '충청남도', '경상북도',
       '경상남도'], dtype=object)