In [170]:
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import json
import folium
warnings.filterwarnings("ignore")
# 한글 폰트 문제 해결 
# matplotlib은 한글 폰트를 지원하지 않음
# os정보
import platform

# font_manager : 폰트 관리 모듈
# rc : 폰트 변경 모듈
from matplotlib import font_manager, rc
# unicode 설정
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic') # os가 macos
elif platform.system() == 'Windows':
    path = 'c:/Windows/Fonts/malgun.ttf' # os가 windows
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print("Unknown System")

시도별 의료인력 현황, 시도별 종별 의료기관 현황, 의료시설 유형별 평균접근시간 그래프

In [171]:
hospital = pd.read_csv('../../Data/public health/hosik_병원수_2009_2022.csv', index_col='시점')
hosPeople = pd.read_csv('../../Data/public health/hosik_의료인_2010_2021.csv', index_col='시점')

In [172]:
hosPeople['시점'] = hosPeople.index
hospital['시점'] = hospital.index

In [173]:
# hospital['시점'] = hospital.indexh
hos2010 = hospital[hospital['시점'] == 2010]
hos2011 = hospital[hospital['시점'] == 2011]
hos2012 = hospital[hospital['시점'] == 2012]
hos2013 = hospital[hospital['시점'] == 2013]
hos2014 = hospital[hospital['시점'] == 2014]
hos2015 = hospital[hospital['시점'] == 2015]
hos2016 = hospital[hospital['시점'] == 2016]
hos2017 = hospital[hospital['시점'] == 2017]
hos2018 = hospital[hospital['시점'] == 2018]
hos2019 = hospital[hospital['시점'] == 2019]
hos2020 = hospital[hospital['시점'] == 2020]
hos2021 = hospital[hospital['시점'] == 2021]

In [174]:
concat = pd.concat([hos2010,hos2011,hos2012,hos2013,hos2014,hos2015,hos2016,hos2017,hos2018,hos2019,hos2020,hos2021])
concat.set_index('병원',inplace=True, drop=False)
concat

      병원  상급종합병원  종합병원 시도별    시점
병원
171  171      17    42  서울  2010
109  109       4    24  부산  2010
101  101       4     8  대구  2010
55    55       2    12  인천  2010
53    53       2    19  광주  2010
..   ...     ...   ...  ..   ...
64    64       2    11  전북  2021
74    74       1    24  전남  2021
55    55       0    20  경북  2021
134  134       3    23  경남  2021
7      7       0     6  제주  2021

[202 rows x 5 columns]

In [175]:
# hospital['시점'] = hospital.indexh
hosPeople2010 = hosPeople[hosPeople['시점'] == 2010]
hosPeople2011 = hosPeople[hosPeople['시점'] == 2011]
hosPeople2012 = hosPeople[hosPeople['시점'] == 2012]
hosPeople2013 = hosPeople[hosPeople['시점'] == 2013]
hosPeople2014 = hosPeople[hosPeople['시점'] == 2014]
hosPeople2015 = hosPeople[hosPeople['시점'] == 2015]
hosPeople2016 = hosPeople[hosPeople['시점'] == 2016]
hosPeople2017 = hosPeople[hosPeople['시점'] == 2017]
hosPeople2018 = hosPeople[hosPeople['시점'] == 2018]
hosPeople2019 = hosPeople[hosPeople['시점'] == 2019]
hosPeople2020 = hosPeople[hosPeople['시점'] == 2020]
hosPeople2021 = hosPeople[hosPeople['시점'] == 2021]

In [176]:
Peopleconcat = pd.concat([hosPeople2010,hosPeople2011,hosPeople2012,hosPeople2013,hosPeople2014,hosPeople2015,
                    hosPeople2016,hosPeople2017,hosPeople2018,hosPeople2019,hosPeople2020,hosPeople2021])
Peopleconcat = Peopleconcat[Peopleconcat['시도별'] != '계']
Peopleconcat.set_index('의사',inplace=True, drop=False)
Peopleconcat

      시도별     의사  치과의사   한의사    약사    간호사  기타보건의료인    시점
의사
23077  서울  23077  5933  3937  7667  28634     4553  2010
6247   부산   6247  1300  1134  2194   9268     1894  2010
4597   대구   4597  1055   840  1679   6143     1280  2010
3212   인천   3212   874   606  1356   4364     1375  2010
2723   광주   2723   783   393   951   4538      870  2010
...    ..    ...   ...   ...   ...    ...      ...   ...
3680   전북   3680   940   940  1485   8434     2355  2021
3199   전남   3199   803   814  1336   8880     2336  2021
3627   경북   3627   966  1043  1640  10179     2385  2021
5683   경남   5683  1426  1262  2235  15046     3792  2021
1195   제주   1195   296   251   499   3005      738  2021

[202 rows x 8 columns]

In [177]:
resultDF = pd.merge(left=concat, right=Peopleconcat, how='left', on=['시점','시도별'])

In [178]:
resultDF.set_index('시점',inplace=True, drop=True)
resultDF = resultDF[['시도별','병원','종합병원','상급종합병원','의사','치과의사','한의사','약사','간호사','기타보건의료인']]
resultDF

     시도별   병원  종합병원  상급종합병원     의사  치과의사   한의사    약사    간호사  기타보건의료인
시점
2010  서울  171    42      17  23077  5933  3937  7667  28634     4553
2010  부산  109    24       4   6247  1300  1134  2194   9268     1894
2010  대구  101     8       4   4597  1055   840  1679   6143     1280
2010  인천   55    12       2   3212   874   606  1356   4364     1375
2010  광주   53    19       2   2723   783   393   951   4538      870
...   ..  ...   ...     ...    ...   ...   ...   ...    ...      ...
2021  전북   64    11       2   3680   940   940  1485   8434     2355
2021  전남   74    24       1   3199   803   814  1336   8880     2336
2021  경북   55    20       0   3627   966  1043  1640  10179     2385
2021  경남  134    23       3   5683  1426  1262  2235  15046     3792
2021  제주    7     6       0   1195   296   251   499   3005      738

[202 rows x 10 columns]