In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../Data/sangwonKim/도서관_현황_시도__20230207.csv", encoding='euc-kr')
df.head()

,지역,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,지역,도서관 수(관),도서관 수(관),도서관 수(관),도서관 수(관),도서관 수(관),도서관 수(관),도서관 수(관),도서관 수(관),도서관 수(관),도서관 수(관)
1,전국,786,828,865,930,978,1010,1042,1096,1134,1172
2,서울,109,116,123,132,146,147,160,173,180,188
3,부산,31,31,31,32,36,40,40,43,44,47
4,대구,27,27,28,30,33,35,36,41,43,44